.container-confirmation-deletion-pop-up-window
{ 
    text-align: center;
    background-color: #ffffffc6;
    font-size: 130%;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.red-button
{
    color: azure;
    padding: 3px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #e12121;
    border-radius: 6px;
    border-color: #e12121;
    margin: 0 8px;
}

.red-button:hover {
    background-color: #ca0b0b;
}

.blue-button
{
    color: azure;
    padding: 3px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #2373c3;
    border-radius: 6px;
    border-color: #2373c3;
    margin: 0 8px;
}

.blue-button:hover {
    background-color: #005bb5;
  }

.top-margin-element
{
    margin-top: 20px;
    text-align: center;
}

.font {
    font-family: 'Noto Sans Linear B', sans-serif;
}

.black-color {
    color: black;
}
