/* navbar.component.css */

.navbar {
    display: flex;
    align-items: center;
    padding-left: 25px;
    background-color: #212529; /* Cambia el color de fondo */
    border-bottom: 1px solid #ccc; /* Opcional: para una línea separadora */
  }
  
  .logo {
    margin-right: 18px;
  }
  
  .title {
    margin-right: auto;
    font-size: 1.8em;
    color: azure;
    font-family: 'Noto Sans Linear B', sans-serif;
  }
  