<div class="container-details font">
  <div class="title">
    <span>{{ data.container.elementName }}</span>
  </div>
  <div class="separator"></div>
  <div class="container-info-label font">
    <h2>Container information:</h2>
  </div>
  <div class="files-info-label font">
    <h2>Files:</h2>
  </div>
  <div class="content-container">
    <div class="sub-title-container">
      <div class="subtitle-container">
        <p class="sub-title-left font"><strong>User:</strong> {{ data.container.user }}</p>
        <p class="sub-title font"><strong>Work Area:</strong> {{ data.container.workArea }}</p>
      </div>
      <p class="sub-title font"><strong>Date:</strong> {{ data.container.date | date: 'EEEE, MMMM d, y' }}</p>
      <p class="sub-title-description font"><strong>Description:</strong> {{ data.container.description }}</p>
      <!-- Agrega más campos según sea necesario -->
    </div>
    <div class="additional-content-container">
      <div *ngIf="data.container.files && data.container.files.length > 0">
        <div *ngFor="let file of data.container.files" class="file-container">
          <span class="file-name font">{{ cleanFileName(file.fileName) }}</span>
          <img [src]="getFileTypeImage(file.fileName)" alt="File Type" (click)="downloadFile(file.fileName) "
            class="file-icon" />
        </div>
        <button *ngIf="data.container.files.length > 1" (click)="downloadAllFiles(data.container)"
          class="center-button font">Download All</button>
      </div>
    </div>
  </div>
  <button (click)="closeDialog()" class="close-button font">Close</button>
</div>