<div class="container-details">
    <div class="title">
      <span>{{ data.container.elementName }}</span>
    </div>
    <div class="separator"></div>
    <div class="content-container">
      <div class="sub-title-container">
        <div class="subtitle-container">
          <p class="sub-title-left"><strong>User:</strong> {{ data.container.user }}</p>
          <p class="sub-title"><strong>Work Area:</strong> {{ data.container.workArea }}</p>
        </div>                
        <p class="sub-title"><strong>Date:</strong> {{ data.container.date | date: 'EEEE, MMMM d, y' }}</p>
        <p class="sub-title-description"><strong>Description:</strong> {{ data.container.description }}</p>
        <!-- Agrega más campos según sea necesario -->
      </div>
      <div class="additional-content-container">
        <h2>Aqui se pondrian los documentos de manera grafica, y también la opcion de descargarlos</h2>
      </div>
    </div>
  </div>
  