.font {
  font-family: 'Noto Sans Linear B', sans-serif;
}

.container-details {
  white-space: pre-wrap;
  padding: 20px;
  background-color: #d9dee9;
}

.title {
  font-size: 1.7rem;
  line-height: 1.2;
  width: 100%;
  box-sizing: border-box;
}

.separator {
  border-top: 5px solid #212529;
  margin: 15px 0;
}

.content-container {
  display: flex;
  width: 100%;
}

.sub-title-container {
  position: relative;
  flex-basis: 50%;
  padding: 20px;
  background-color: azure;
  border: 3px solid #212529;
  border-radius: 8px;
  margin-right: 5px;
}

.sub-title {
  font-size: 1.1rem;
  line-height: 1.0;
  padding-bottom: 30px;
}

.sub-title-left {
  font-size: 1.1rem;
  line-height: 1.0;
  padding-right: 180px;
}

.subtitle-container p {
  display: inline-block;
}

.sub-title-description {
  font-size: 1.10rem;
  line-height: 1.0;
  line-height: 1.2;
}

.additional-content-container {
  position: relative;
  padding: 20px;
  flex-basis: 50%;
  background-color: azure;
  border: 3px solid #212529;
  border-radius: 8px;
  margin-left: 5px;
}

.file-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.file-name {
  margin-right: auto;
}

.file-icon {
  cursor: pointer;
  width: 45px;
  height: 58.7px;
}

.center-button {
  background-color: #ff7c1e;
  color: azure;
  padding: 3px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: block;
  margin: 0 auto;
}

.center-button:hover {
  background-color: #fdad00;
}

.close-button {
  background-color: #005bb5;
  color: azure;
  padding: 3px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  transform: scale(1.2);
  margin-top: 20px;
}

.close-button:hover {
  background-color: #1e90ff;
}

.container-info-label, .files-info-label {
  width: 50%;
  box-sizing: border-box;
  float: left;
  text-align: center;
  margin-bottom: -15px;
}
