.formularioContainer {
    background-color: #f0f0f0c6;
    padding: 20px;
    padding-top: 30px;
    box-sizing: border-box;
}

.custom-label, .font {
    display: inline-block;
    width: 130px;
    transform: scale(1.15);
    font-family: 'Arial';
}


.custom-input-large {
    width: calc(100% - 143px);
}

.custom-input-description
{
    width: calc(100% - 143px);
}

.custom-input-short {
    width: 218px;
}

.custom-input-short-separation {
    width: 218px;
    margin-right: 66px;
}


.blue-button-creation {
    background-color: #1e90ff;
    color: azure;
    padding: 3px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    transform: scale(1.3);
}

.blue-button-creation:hover {
    background-color: #005bb5;
}

.container {
    padding: 30px;
    height: 10px;
    text-align: center;
    line-height: 10px; /* Esto ayuda a centrar verticalmente el texto */
    background-color: rgb(86, 83, 83); /* Puedes ajustar el color de fondo según tus preferencias */
    font-family: 'Arial';
    font-size: 2rem;
    color: azure;
}

