.formularioContainer {
    background-color: whitesmoke;
    padding: 20px;
    padding-top: 30px;
    box-sizing: border-box;
    border-radius: 8px;
    border: 3px solid #212529;
}

.body-form {
    padding: 20px;
    background-color: #d9dee9;
    border-radius: 2px;
}

.azure-color {
    font-size: 1.7rem;
    line-height: 1.2;
    width: 100%;
    box-sizing: border-box;
    color: black;
    text-align: center;
}

.font {
    font-family: 'Noto Sans Linear B', sans-serif;
}

.custom-label {
    display: inline-block;
    width: 140px;
    transform: scale(1.15);
}


.custom-input-large {
    width: calc(100% - 143px);
}

.custom-input-description {
    width: calc(100% - 143px);
}

.custom-input-short {
    width: 218px;
}

.custom-input-short-separation {
    width: 218px;
    margin-right: 66px;
}

.custom-input-short-separation-work-area {
    width: 210px;
}

.button-section {
    text-align: center;
    border-top: 20px;
}

.blue-button-creation, .cancel-button {
    color: azure;
    padding: 3px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    transform: scale(1.1);
    display: inline-block;
}

.blue-button-creation {
    background-color: #1e90ff;
    margin-left: 25px;
}

.cancel-button {
    background-color: rgb(215, 6, 6);
    display: inline-block;
    margin-right: 25px;
}

.blue-button-creation:hover {
    background-color: #005bb5;
}

.cancel-button:hover {
    background-color: red;
}

.container {
    padding: 30px;
    padding-bottom: 35px;
    height: 10px;
    text-align: center;
    line-height: 10px;
    /* Esto ayuda a centrar verticalmente el texto */
    background-color: rgb(86, 83, 83);
    /* Puedes ajustar el color de fondo según tus preferencias */
    font-size: 2rem;
    color: azure;
}

.file-upload-container {
    margin-top: 20px;
    display: flex;
    align-items: center;
}

.file-upload-label {
    margin-bottom: 8px;
}

.file-upload-input {
    display: none;
}

.file-upload-btn {
    background-color: #212529;
    color: azure;
    padding: 2px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
}

.file-upload-btn:hover {
    background-color: rgb(66, 66, 66);
}

.mat-form-field {
    width: 100%;    

    .mat-select {
        width: 100%;
    }
}

.custom-input-short-separation-right {
    margin-right: 100px;
}

.custom-label-work-area {
    display: inline-block;
    width: 100px;
    transform: scale(1.15);
    margin-left: 40px;
}

.invalid-field {
    border-color: red;
}
