<app-navbar></app-navbar>

<div class="operational-bar">
    <button class="blue-button-creation" (click)="openContainerFormDialog()">
      <i class="fas fa-plus"></i> Add Container
    </button>
  </div>

<div class="main-body">
    <div *ngFor="let container of containers; let i = index" class="container-huawei-repository-element-box">
        <h3><strong>Element Name:</strong> {{ container.elementName }}</h3>
        <div class="separator"></div>
        <p><strong>User:</strong> {{ container.user }}</p>
        <p><strong>Date:</strong> {{ container.date | date: 'EEEE, MMMM d, y' }}</p>
        <p><strong>Work Area:</strong> {{ container.workArea }}</p>
        <div class="button-container">
            <button class="blue-button">
                <i class="bi bi-search"></i>
            </button>
            <button class="red-button" (click)="openConfirmationDialog(i)">
                <i class="bi bi-trash"></i>
              </button>          
        </div>
    </div>
</div>

