<app-navbar></app-navbar>

<div class="formularioContainer">
    <form [formGroup]="containerForm" (ngSubmit)="onSubmitContainerForm()">
        <label for="elementName" class="custom-label"><strong>Container name:</strong></label>
        <input type="text" id="elementName" name="elementName" class="custom-input-large" formControlName="elementName"
        placeholder="Enter the name of your container..."><br><br>
        
        <label for="user" class="custom-label"><strong>User:</strong></label>
        <input type="text" id="user" name="user" class="custom-input-short-separation" formControlName="user"
        placeholder="Enter your user ID...">
        
        <label for="date" class="custom-label"><strong>Date:</strong></label>
        <input type="date" id="date" name="date" class="custom-input-short-separation" formControlName="date"
        required>

        <label for="workArea" class="custom-label"><strong>Work Area:</strong></label>
        <input type="text" id="workArea" name="workArea" class="custom-input-short" formControlName="workArea"
        placeholder="Enter your working area..."><br><br>
       
        <input type="submit" class="blue-button-creation" value="Submit">
    </form>
</div>

<div class="main-content-body">
    <div *ngFor="let container of containers" class="container-huawei-repository-element-box">
        <h3><strong>Element Name:</strong> {{ container.elementName }}</h3>
        <div class="separator"></div>
        <p><strong>User:</strong> {{ container.user }}</p>
        <p><strong>Date:</strong> {{ container.date | date: 'EEEE, MMMM d, y'}}</p>
        <p><strong>Work Area:</strong> {{ container.workArea }}</p>
        <button class="blue-button">
            Details <i class="bi bi-search"></i>
        </button>
    </div>
</div>
