@import "~@fortawesome/fontawesome-free/css/all.css";
@import "~bootstrap-icons/font/bootstrap-icons.css";

.main-body {
  min-height: 70vh;
}

.main-content-body {
  margin-top: 60px;
}

.container-huawei-repository-element-box {
  width: 23%;
  margin: 1%;
  display: inline-block;
  border: 5px solid #212529;
  border-radius: 8px;
  padding: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-align: left;
  background-color: #F5F5F5;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s;
}

.container-huawei-repository-element-box:nth-child(4n) {
  margin-right: 0;
}

.separator {
  border-top: 3px solid #212529;
  margin: 15px 0;
}


.blue-button,
.red-button {
  color: azure;
  padding: 3px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: inline-block;
}

.blue-button {
  background-color: #2373c3;
  margin-right: 10px;
}

.blue-button:hover {
  background-color: #005bb5;
}

.red-button {
  background-color: #e12121;
  margin-left: 10px;
}

.red-button:hover {
  background-color: #ca0b0b;
}

.button-container {
  text-align: center;
}

.button-add-container {
  background-color: rgb(211, 210, 210);
  color: black;
  border: 2px solid rgb(211, 210, 210);
  border-radius: 8px;
  text-align: center;
}

.button-add-container:hover {
  background: grey;
  color: azure;
}

.operational-bar {
  padding-top: 10px;
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.blue-button-creation {
  color: azure;
  padding: 3px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: inline-block;
  margin-left: 20px;
  font-size: 120%;
  background-color: #2373c3;
  margin-right: 10px;
}

.blue-button-creation:hover {
  background-color: #005bb5;
}

.font {
  font-family: 'Noto Sans Linear B', sans-serif;
}

.main-page {
  background-color: #d3d1d1;
}

.custom-backdrop {
  background-color: rgba(0, 0, 0, 0.5) !important;
  /* Black color with 50% opacity */
}

.reverse-button {
  height: 30px;
  width: 35px;
  color: azure;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  background-color: #212529;
  margin-right: 20px;
}

.reverse-button:hover {
  background-color: #56595c;
}

.spacer {
  flex-grow: 1;
}

.no-results-message-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 70vh;
}

.no-results-message {
  text-align: center;
}

.finding-field {
  padding: 6px;
  font-size: 16px;
  border: 3px solid rgb(0, 0, 0);
  margin-right: 20px;
  border-radius: 6px;
  width: 250px;
  outline: none;
  transition: border-color 0.3s;
  &:focus {
    border-color: #66afe9;
  }
}
