
.credit-section {
  background-color: #212529;
  color: azure;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  height: 115px;
}

.left-content {
  text-align: left;
}

.right-content {
  text-align: right;
}

.right-content ul {
  list-style-type: none;
  padding: 0;
}

.font {
  font-family: 'Arial'
}
