<!-- credit-section.component.html -->
<div class="credit-section">
    <div class="left-content">
      <p class="font">Este proyecto fue desarrollado para:</p>
      <p class="font">- © Huawei</p>
      <p class="font">- Gestión de Proyectos de Software</p>
    </div>
    <div class="center-content">
      <img src="../../../assets/img/huawei.png" alt="Huawei Logo" height="80px" width="80px">
    </div>
    <div class="right-content">
      <p class="font">Desarrolladores:</p>
      <ul>
        <li class="font">Sergio Alejandro Villegas Ferruzca</li>
        <li class="font">Sergio Andreé Carrillo Caballero</li>
      </ul>
    </div>
  </div>
