<!-- credit-section.component.html -->
<div class="credit-section">
    <div class="left-content">
      <p>Este proyecto fue desarrollado por:</p>
      <p>© Huawei</p>
    </div>
    <div class="center-content">
      <img src="../../../assets/img/huawei-logo-credits.png" alt="Huawei Logo" height="80px" width="160px">
    </div>
    <div class="right-content">
      <p>Desarrolladores:</p>
      <ul>
        <li>Sergio Alejandro Villegas Ferruzca</li>
        <li>Sergio Andreé Carrillo Caballero</li>
      </ul>
    </div>
  </div>
  